@import url(footer.css);
@import url(blogpostsection.css);
@import url(../css\ files/aboutsection.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&family=Nunito+Sans:ital,wght@0,300;0,400;1,300&family=Red+Hat+Display:ital@0;1&family=Roboto:wght@300&family=Sofia&family=Sora&family=Zen+Kaku+Gothic+Antique&display=swap');


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
nav{
    background-color:#010f17;
    
}
nav ul{
    padding:10px;
    display: flex;
    justify-content:end;
    list-style: none;
    
}
nav ul li{
    padding: 10px 20px;

}
nav ul li a{
    text-decoration: none;
    font-size: 19px;
    color: #fff;
    margin: 20px 0;
}
nav ul li a:hover{
    color: #023352;
    transition: 0.3s ease-in all;
}

header h1{
    align-items: center;
    justify-items: center;
    text-align: center;
    color: #010f17;
    font-size: 2.5rem;
    padding-top: 50px;
    padding-left: 20px;
}
header p{
    text-align:center;
    color: #010f17;
    font-size: 1.5rem;
    padding-top: 20px;
    padding-left: 20px;
    
}
/* buttons styling */

.btn{
    background-color: #023352;
    cursor: pointer;
    padding: 10px 18px;
    font-family: 'Lexend Deca', sans-serif;
    border: none;
    text-align: center;
    margin:auto;
    margin-top: 100px;
    color: #ffff;
    display: flex;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50px;
    justify-items: center;
    transition: 0.3s ease-in-out;


  }
  
 /* blog post */
 .post-container{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
 }
 .post-box{
     width:400px;
     background-color: #fff;
     border: 2px solid #cfdfe9;
     box-shadow:2px 2px 2px #023352;
     margin:20px;
 }

 .post-img img{
     width:100%;
     height:100%;
     object-fit: cover;
     object-position: center;
 }
 .post-text{
     padding:30px;
     display: flex;
     flex-direction: column;
 }
 .post-text h3{
     font-size: 15px;
 }
 
 .post-text a{
     text-decoration: none;
 }
 

/* media queries */
@media(min-width:576px){
    .post-container{
        display: flex;
        flex-direction: column;
    
    }
            nav ul{
                height: 250px;
                flex-direction: column;
            }
            header h1{
                font-size: 14px;
            }
            header p{
                font-size: 12px;
            }
 }

@media screen and (max-width:760px){
    .post-container{
        display: flex;
        flex-direction: column;
    
    }
            nav ul{
                height: 250px;
                flex-direction: column;
            }
            header h1{
                font-size: 14px;
            }
            header p{
                font-size: 12px;
            }
 }
 @media(min-width:992px){
    .post-container{
        display: flex;
        flex-direction: column;
    
    }
            nav ul{
                height: 250px;
                flex-direction: column;
            }
            header h1{
                font-size: 14px;
            }
            header p{
                font-size: 12px;
            }
 }
 @media(min-width:1200px){
    .post-container{
        display: flex;
        flex-direction: row;
    
    }
            nav ul{
                height: 250px;
                flex-direction: row;
            }
            header h1{
                font-size: 14px;
            }
            header p{
                font-size: 12px;
            }
 }
 @media(min-width:1400px){
    .post-container{
        display: flex;
        flex-direction: row;
    
    }
            nav ul{
                height: 250px;
                flex-direction: row;
            }
            header h1{
                font-size: 14px;
            }
            header p{
                font-size: 12px;
            }
 }
 