@import url(footer.css);
@import url(blogpostsection.css);
@import url(aboutsection.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&family=Nunito+Sans:ital,wght@0,300;0,400;1,300&family=Red+Hat+Display:ital@0;1&family=Roboto:wght@300&family=Sofia&family=Sora&family=Zen+Kaku+Gothic+Antique&display=swap');
@import url(../css\ files/footer.css);
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.container div{
    padding:30px;
}
.card img{
    width: 100%;
    height: auto;
}
nav{
    background-color:#010f17;
    
}
nav ul{
    padding:10px;
    display: flex;
    justify-content:end;
    list-style: none;
    
}
nav ul li{
    padding: 10px 20px;

}
nav ul li a{
    text-decoration: none;
    font-size: 19px;
    color: #fff;
    margin: 20px 0;
}
nav ul li a:hover{
    color: #023352;
    transition: 0.3s ease-in all;
}
.logo{
    color: #fff;
}

header h1{
    align-items: center;
    justify-items: center;
    text-align: center;
    color: #010f17;
    font-size: 2.5rem;
    padding-top: 50px;
    padding-left: 20px;
}
header p{
    text-align:center;
    color: #010f17;
    font-size: 1.5rem;
    padding-top: 20px;
    padding-left: 20px;
    
}

/* buttons styling */

.btn{
    background-color: #023352;
    cursor: pointer;
    padding: 10px 18px;
    font-family: 'Lexend Deca', sans-serif;
    border: none;
    text-align: center;
    margin:auto;
    margin-top: 100px;
    color: #ffff;
    display: flex;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50px;
    justify-items: center;
    transition: 0.3s ease-in-out;


  }
  .first-post a{
      text-decoration: none;
  }
  .second-post a{
      text-decoration: none;
  }
  .third-post a{
      text-decoration: none;
  }
  .fourth-post a{
      text-decoration: none;
  }
  .btn:hover{
      background-color: #fff;
      color: #023352;
  }

/*about section */
.grid-container{
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding-bottom: 70px;

}
.grid-container div{
    padding: 10px;
    border-radius: 5px;

}
.post {
    box-shadow: 0 4px 8px #023352;
    transition: 0.3s;
    width: 100%;
  }
  
  .post img{
      width:100%;
  }
  
  .holder {
    padding: 2px 16px;
  }
  .subscribe{
      width:100%;
      box-shadow: 0 4px 8px #023352;
      transition: 0.3s;
      padding-bottom: 30px;

  }
  input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #023352;
    margin-top: 8px;
    margin-bottom: 8px;
    resize: vertical;
  }
  .btn-subscribe{
    background-color: #023352;
    cursor: pointer;
    padding: 10px 18px;
    font-family: 'Lexend Deca', sans-serif;
    border: none;
    text-align: center;
    margin:auto;
    margin-top: 100px;
    color: #ffff;
    display: flex;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50px;
    justify-items: center;
    transition: 0.3s ease-in-out;
  }
  .btn-subscribe a{
      text-decoration: none;
      color: #fff;
  }
  
  
/* media queries */
@media screen and (max-width:760px){
   .container{
       display: flex;
       flex-direction: column;
   }
    nav ul{
        height: 250px;
        flex-direction: column;
    }
    .grid-container{
        display: flex;
        flex-direction: column;
    }
}
