.container{
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
    display:flex;
    background-color: #212c40;
    padding: 50px;
    box-sizing: border-box;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
.container .first-post h2{
    color: #010f17;
}
.container .second-post h2{
    color: #010f17;
}
.container .third-post h2{
    color: #010f17;
}
.container .fourth-post h2{
    color: #010f17;
}
.first-post{
    flex:2;
    padding-top: 18px;
    padding: 30px;
    border: 2px solid white;
    background-color:#e1e9f7;
    
}
.second-post{
    flex:2;
    padding-top: 18px;
    padding: 30px;
    border: 2px solid white;
    background-color: #cfdffc;
}
.third-post{
    flex:2;
    padding-top: 18px;
    padding: 30px;
    border: 2px solid white;
    background-color:#bdd4fc;
}
.fourth-post{
    flex:2;
    padding-top: 18px;
    padding: 30px;
    border: 2px solid white;
    background-color:#a7c5fc;
}
.blogpost h2{
    text-align: center;
    font-size: 20px;
    color: #faf8f6;
}

/* media queries */
@media screen and (max-width:760px){
    .container{
        flex-direction: column;
        width:95%;
        flex-flow:column;

    }
    .flex{
        flex-direction: column;
    }
    
}